[user]
	name = Peter Buschenreiter
	email = peter.buschenreiter@gmail.com
[core]
	autocrlf = input
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[rebase]
	updateRefs = true
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
