[user]
	name = Peter Buschenreiter
	email = peter.buschenreiter@student.kdg.be
[core]
	autocrlf = input
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
